<state-notifications></state-notifications>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" ng-href="/"><span>Twitter Streams</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="header container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul  ng-controller="ChannelCtrl" class="nav navbar-nav">
        <li ng-repeat="item in channelsMenu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">
            <span class="badge pull-right">{{data.channels[$index].count}}</span>
            {{item.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-controller="ChannelCtrl">
      <form class="navbar-form navbar-left form-inline" role="query">
        <div class="form-group">
            <label for="querytext">Query Keyword</label>
            <input type="text" id="querytext" class="form-control" ng-model="channel.title" placeholder="Enter keyword">

        </div>
        <div class="form-group">
            <label for="durationTime">Duration in hours</label>
            <input type="Number" id="durationTime" ng-model="channel.description"form-control" placeholder="12">
            <button class="btn btn-default" ng-click="addChannel()" type="submit">Add Query</button>
        </div>

      </form>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<ul class="site-networks">
  <li class="twitter">
    <a href="https://twitter.com/bakerianthomas" title="@bakerianthomas on twitter">
      <span class="icon"></span>
      <span class="desc">Twitter</span>
    </a>
  </li>
  <li class="github">
    <a href="https://bitbucket.org/BakerIan/datavisual" title="Fork on bitbucket">
      <span class="icon"></span>
      <span class="desc">Bitbucket</span>
    </a>
  </li>
</ul>
