/**
 * Copyright (C) 2014 Christophe Rosset <tophe@topheman.com> - https://github.com/topheman/cycle-infos
 *
 * Released under MIT License :
 * https://github.com/topheman/cycle-infos/blob/master/LICENSE
 */

/*$grid-float-breakpoint:600px;*/

$navbar-height: 50px;
$header-height: 60px;
$navbar-default-link-hover-bg: white;
$navbar-default-link-active-bg: #05668D;
$navbar-default-link-active-color: white;
$navbar-default-link-color: black;
$badge-bg: #05668D;
$badge-color: white;
$badge-active-bg: #fff;
$badge-active-color: #05668D;
