@import '_variables';

$brand-primary : #56727C;
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'common.scss';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #748477;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container{
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 320px) {
  .view-fade.container{
    padding-left:5px;
    padding-right:5px;
  }
}

footer.footer {
  opacity:0.8;
  font-size:85%;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #56727C;
}

.view-fade {
  opacity: 1;
  margin-top: 10px;
}
.view-fade.ng-enter {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.view-fade.ng-enter {
  opacity: 0;
}
.view-fade.ng-enter-active {
  opacity: 1;
}
.view-fade.ng-leave {
  opacity: 1;
}
.view-fade.ng-leave-active {
  opacity: 0;
}

strong {
  color : $brand-primary;
}
.panel-heading{
  cursor: pointer;
}
// Component styles are injected through grunt
// injector
@import '_variables.scss';
@import 'common.scss';
@import 'controllers/channel/channel.scss';
@import 'controllers/main/main.scss';
@import 'directives/connexionTime/connexionTime.scss';
@import 'directives/lastTweets/lastTweets.scss';
@import 'directives/stateNotifications/stateNotifications.scss';
@import 'header/header.scss';
// endinjector
