.view-main{

  .twitter-button-wrapper{
    text-align:center;
  }

  .thing-form {
    margin: 20px 0;
  }

  #banner {
    border-bottom: none;
    margin-top: -20px;
  }

  #banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #05668D;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
  }

  a.link-to-menu{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    pack-chart-channels{
      margin : 10px 90px;
    }
  }
  @media (max-width: 768px) {
    pack-chart-channels{
      margin : 10px 20px;
      height : 330px;
    }
  }
}
