<div class="view-main">




  <div class="panel panel-default">
    <div class="panel-body">
      <connexion-time></connexion-time>
    </div>
  </div>

  <debug-state ng-if="false"></debug-state>

  <div class="panel panel-default pannel-tree-chart">
    <!-- Default panel contents -->
    <div class="panel-heading" ng-click="displayState.treeChartChannels = !displayState.treeChartChannels">
      Tree chart
      <span ng-class="{'glyphicon':true, 'glyphicon-chevron-down' : !displayState.treeChartChannels, 'glyphicon-chevron-up':displayState.treeChartChannels}"></span>
    </div>
    <tree-chart-channels data-data="data" ng-if="displayState.treeChartChannels"></tree-chart-channels>
  </div>

  <div class="panel panel-default pannel-pack-chart">
    <!-- Default panel contents -->
    <div class="panel-heading" ng-click="displayState.packChartChannels = !displayState.packChartChannels">
      Pack chart
      <span ng-class="{'glyphicon':true, 'glyphicon-chevron-down' : !displayState.packChartChannels, 'glyphicon-chevron-up':displayState.packChartChannels}"></span>
    </div>
    <pack-chart-channels data-data="data" ng-if="displayState.packChartChannels"></pack-chart-channels>
  </div>

  <h3 id="infos">Datavisual</h3>

  <p>Be aware there is a <a class="link-to-menu" data-scroll-top-and-show-menu>menu</a> at the top from where you can navigate to the different channels :</p>
  <ul>
    <li ng-repeat="channel in channelsDescription"><a  ng-href="{{'/channel/'+$index}}">{{channel.title}}</a></li>
  </ul>

  <div ng-repeat="channel in data.channelsDescription" ng-if="false">
    <h4>{{channel.title}}</h4>
    <p>{{data.channels[$index].count}} tweets</p>
    <ul>
      <li ng-repeat="keyword in data.channels[$index].keywords">"{{keyword.name}}" found {{keyword.count}} times</li>
    </ul>
    <hr>
  </div>

  <footer class="footer">
    <p class="container">
      ©2016 Ian Baker
    </p>
  </footer>

</div>
